@import "tailwindcss";

:root {
  --background: #F4F4F4;
  --primary: #111111;
  --secondary: #666666;
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #d4d4d4;
  color: #111111;
}

::-moz-selection {
  background-color: #d4d4d4;
  color: #111111;
}